<nav class="navbar navbar-expand-sm text-white bg-transparent float-left w-100">
  <div class="container">
    <a routerLink="/" class="navbar-brand"
      ><img src="../../../assets/images/logo-1.png" alt="logo" width="15%"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-nav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-white mx-3 py-4">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/" class="nav-link text-white mx-3 py-4">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
