.cont {
  background: linear-gradient(
      to top right,
      rgba(6, 2, 46, 0.9),
      rgba(6, 2, 46, 0.9)
    ),
    url(../../../assets/images/home-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 100vh;
}

.home-text {
  /* margin-top: 70px; */
}

.home-para-1 {
  font-weight: 400;
  font-size: 45px;
  /* line-height: 68px; */
}

.home-para-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  /* line-height: 100px; */
}

.home-para-3 {
  width: 60%;
}

.search-input {
  border-radius: 35px;
  background-color: transparent;
  border: 2px solid rgba(0, 240, 255, 0.75);
  color: #fff;
  font-size: 20px;
  caret-color: #00f0ff;
}
.search-input:focus {
  border: 2px solid rgba(0, 240, 255, 1);

}