<div class="container-fluid" *ngIf="followers">
  <div class="row">
    <div
      class="col-10 col-sm-6 col-md-4 mx-auto"
      *ngFor="let follower of followers"
    >
      <div class="card my-3 px-5 py-2" appHover (click)="selectUser(follower)">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col-lg-3 align-self-center">
              <img
                src="{{ follower.avatar_url }}"
                class="img-fluid rounded-circle"
              />
            </div>
            <div class="col-lg-9 pl-4 text-left">
              <h3 class="gradient-text">{{ follower.login }}</h3>
              <ul class="p-0 m-0 text-white">
                <li class="nav-link p-0">
                  User Id:
                  <small class="text-secondary">
                    <b>{{ follower.id }}</b></small
                  >
                </li>
                <li class="nav-link px-0 py-2 m-0">
                  <a
                    *ngIf="user"
                    class="nav-link p-0 m-0 text-left text-white gradient-text"
                    href="{{ follower.html_url }}"
                    target="_blank"
                  >
                    View User On Github
                  </a>
                  <p *ngIf="!user" class="btn btn-outline-info">Select User</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
