@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend&family=Poppins:wght@300&family=Rubik+Bubbles&family=Rubik+Moonrocks&display=swap");
:root {
  font-family: "Architects Daughter", cursive;
  font-family: "Lexend", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik Bubbles", cursive;
  font-family: "Rubik Moonrocks", cursive;
}

.home {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  background: linear-gradient(
      to top right,
      rgba(6, 2, 46, 0.9),
      rgba(6, 2, 46, 0.9)
    ),
    url(./assets/images/home-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 100vh;
  background-attachment: scroll;
  z-index: -1;
  /* overflow: hidden; */
}

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-text {
  background: linear-gradient(90deg, #00f0ff 0%, #5773ff 46.87%, #ff007a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.user-profile {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
p {
  font-size: 18px;
}

.view-profile {
  border-radius: 35px;
  background-color: transparent;
  border: 2px solid rgba(0, 240, 255, 0.75);
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.view-profile:hover {
  color: rgba(0, 240, 255, 0.75);
}

.show-profile {
  height: 100%;
  width: 100%;
  visibility: visible;
  opacity: 1;
  /* overflow: hidden; */
}

.user-error {
  padding: 120px 0;
}

.card {
  background: linear-gradient(
    90deg,
    rgba(15, 11, 48, 0.6),
    rgba(15, 11, 48, 0.6)
  ) !important;
  border-radius: 10px;
  border: none;
}

.card:hover {
  box-shadow: 0 0 10px 2px rgba(25, 0, 252, 0.5);
  background: linear-gradient(
    90deg,
    rgba(15, 11, 48, 0.5),
    rgba(15, 11, 48, 0.5)
  ) !important;
  transition: all 0.3s ease-in-out;
}

.no-users {
  position: absolute;
  top: 50%;
  right: 50%;
  margin:0;
  padding:70px 100px;
  transform: translate(50%, -50%);
  background: linear-gradient(
    90deg,
    rgba(15, 11, 48, 0.5),
    rgba(15, 11, 48, 0.5)
  ) !important;
}
